In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("car_data.csv")
df.drop("Car_Name", axis = 1, inplace = True)
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [25]:
df.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [26]:
l = []
for i in df["Year"]:
    a = 2023 - i
    l.append(a)

In [27]:
df["Year"] = l
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,10,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,6,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,12,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,9,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [28]:
df1 = pd.get_dummies(data = df , columns = ["Fuel_Type", "Seller_Type", "Transmission"], drop_first = True)
df1.sample(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
15,7,7.75,10.79,43000,0,1,0,0,1
147,8,0.55,0.84,58000,0,0,1,1,1
26,10,4.15,5.87,55138,0,0,1,0,1
64,6,33.00,36.23,6000,0,1,0,0,0
285,7,7.40,8.50,15059,0,0,1,0,0

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
scaler = MinMaxScaler()

In [33]:
df1["Year"] = scaler.fit_transform(df1[["Year"]])
df1["Present_Price"] = scaler.fit_transform(df1[["Present_Price"]])
df1["Kms_Driven"] = scaler.fit_transform(df1[["Kms_Driven"]])
df1["Owner"] = scaler.fit_transform(df1[["Owner"]])
df1["Selling_Price"] = scaler.fit_transform(df1[["Selling_Price"]])
df1.sample(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
271,0.600000,0.083095,0.104898,0.138262,0.0,0,1,0,1
10,0.066667,0.078797,0.035544,0.003273,0.0,0,1,0,1
75,0.200000,0.110315,0.070221,0.071071,0.0,0,1,0,1
285,0.133333,0.209169,0.088643,0.029147,0.0,0,1,0,0
91,0.266667,0.319484,0.170893,0.115600,0.0,1,0,0,1

In [38]:
X = df1.drop("Selling_Price", axis = 1)
y = df1.Selling_Price

In [39]:
X.head()

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.057109,0.053053,0.0,0,1,0,1
1,0.333333,0.099913,0.085085,0.0,1,0,0,1
2,0.066667,0.103273,0.012813,0.0,0,1,0,1
3,0.466667,0.041504,0.009409,0.0,0,1,0,1
4,0.266667,0.070980,0.083984,0.0,1,0,0,1

In [40]:
y.head()

0    0.093123
1    0.133238
2    0.204871
3    0.078797
4    0.128940
Name: Selling_Price, dtype: float64

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [43]:
X_train.shape

(240, 8)

In [44]:
X_test.shape

(61, 8)

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
model = LinearRegression()

In [47]:
model.fit(X_train, y_train)

LinearRegression()

In [48]:
model.score(X_test, y_test)

0.8489813024899063

In [49]:
prediction = model.predict(X_test)
prediction

array([ 0.08181499,  0.23148822,  0.18207085, -0.04367264,  0.25756158,
        0.2096921 ,  0.03542816,  0.02121124,  0.03624698,  0.21175553,
        0.25840402,  0.01391803,  0.23828446,  0.09521963,  0.19485481,
        0.08452387,  0.01101667,  0.30400308,  0.04733725,  0.06434721,
        0.00852346,  0.22977803,  0.18695396,  0.07333498,  0.01956463,
        0.1029601 ,  0.14751159,  0.07813076,  0.0583497 ,  0.04734604,
        0.00851867,  0.25838123, -0.02183039,  0.0627788 ,  0.24271271,
        0.12581755,  0.20359036,  0.21313009,  0.07997167,  0.22452401,
        0.10990979,  0.11952241,  0.12126238,  0.014352  ,  0.20745704,
        0.01077437,  0.20607097,  0.31894716,  0.08705018,  0.15136475,
        0.1919439 ,  0.05956704,  0.58833906,  0.48428442,  0.21223993,
        0.27496313,  0.1253519 ,  0.25426293,  0.04936809,  0.21501912,
        0.00350331])

In [51]:
y_test

177    0.007163
289    0.286819
228    0.138968
198    0.001433
60     0.196275
         ...
234    0.154728
296    0.269341
281    0.057307
285    0.209169
182    0.005731
Name: Selling_Price, Length: 61, dtype: float64